* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.d-flex {
    display: flex;
}

.wrapper {
    padding: 75px 0;

    @include media(md-max) {
        padding: 50px 0;
    }
}

.h-separator {
    height: 5px;
    width: 150px;
    background-color: $gold;
}

.h-md-separator {
    height: 5px;
    width: 150px;
    background-color: $gold;
}

.h-separator {
    height: 5px;
    width: 150px;
    background-color: $gold;
}